body{
    background-image: url("https://i.imgur.com/u7Oox4D.png");
}



.colon {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
  color:red;
  font-size: 25px;
 
}

.flex-container {
 
  width: 50%;
  padding: 10px;
  height: 300px;
  word-spacing: 2px;
  margin-left: 20px;
 
  display: flex;
  flex-wrap: nowrap;

}
.pair{
    margin-top: 200px;

}
#list{
  margin-left: 300px;
  margin-top: 250px;
}
.lab{
  width:500px;
  height: 20px;
  margin-right: 10px;

}
.age1{
  margin-right: 70px;
}
.e{
   margin-right: 55px;
}
.full{
  margin-right: 30px
}
.w{
  height: 20px;
  width: 500px;
  margin-right: 10px;
}

.com{
  margin-right: 50px;
}
.type{
  margin-right: 5px;
}
.typeof{
  width: 510px;
  height: 25px;
}

.you{
  margin-left: 70px;
  height: 21px;
  width: 502px;
}
#btn{
  margin-right: 200px;
  margin-left: 300px;
  color: red;
}