body{
    background-color: darkred;
}
.blood{
    position: relative;
    font-family: 'Mitr', sans-serif;
    color: whitesmoke;
    padding: 16px;
    overflow: hidden;
  }
  .blood img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
  }
  
  .blood p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    color: whitesmoke;
  }
  
  .blood b{
    color: whitesmoke ;
  }
  
  .images{
    text-align: center;
  }
  
  .images img{
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.56);
    max-width: 90%;
    margin-top: 20px;
  }
  
  
  .blood .blood-img{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.69);
    border-radius: 10px;
  }
  
  .blood .wcbb1,.wcbb2,
  .wcbb3{
    position: absolute;
    top: 20px;
    left: 60%;
    transform: translateX(-50%);
    margin-left: 0;
    width: 90%;
    display: block;
    z-index: -1;
    opacity: .4;
  }
  .left-padding{
    padding-left: 1.2rem;
    font-size: 1.4rem;
    font-weight: normal;
  }
  video{
    margin-left: 50%;
    width: 500px;
    transform: translateX(-50%);
    
  }

  button{
    margin-left: 45%;
    
  }
  #inc{
    margin-left: 30%;
  }
  